body {
     color:white;
     background: black;
     margin: 0px;
     font-family: "Comfortaa",sans-serif;
}

header {
     border: solid 2px rgb(227, 24, 24);
     padding: 20px;
     font-size: 32px;
     color: rgb(42, 122, 228);
}

secretion {
background: rgb(250, 8, 8);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
font-size: 40px;
}

p {
    font-size: 20px;
}
img {
     height: 200px;
}